.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.socialsSub {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
}
