.galleryWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
}

.galleryImgWrapper {
  width: 750px;
}

.buttonWrapperLeft {
  padding-right: 1em;
}

.buttonWrapperRight {
  padding-left: 1em;
}

@media only screen and (max-width : 1024px) {

  .galleryImgWrapper {
    width: 270px;
  }

 .galleryImg {
   width: 95%;
 }

 .galleryWrapper {
   height: 400px;
 }
}