.testimonialContainer {
  height: 8em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.testimonialPane {
  width: 70%
}

.testButtonContainerLeft {
  text-align: center;
  width: 15%;
}

.testButtonContainerRight {
  text-align: center;
  width: 15%;
}

@media only screen and (max-width : 1024px) {
  .testimonialContainer {
    height: 10em;
  }
}

